.searchInput {
  margin-right: 30px;
  width: 250px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  outline: none;
  height: 1.5rem;
  background-color: inherit;
  padding-left: 10px;
  color: #bbbbbb;
}

.searchLabel {
  margin-right: 10px;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.err {
  color: #bbbbbb;
  line-height: 90px;
  cursor: default;
}
